

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: aliceblue;
}

header {
    padding: 10px 20px;
    position: sticky;
    top: 0px;
    z-index: 100;
    background-color: #030303;
    color: rgb(204, 228, 247);
    border-bottom: 2px solid black;
}

header h1 {
    font-size: 2rem;
    margin: 0px;
    padding: 0px;
}

header img {
    border-radius: 50%;
    border: 3px solid rgba(92, 3, 110, 0.74);
    width: 150px;
    height: 150px;
    box-shadow: 0px 0px 10px rgba(137, 43, 226, 0.534);
}

header .menu {
    justify-content: flex-end;
}

header nav {
    width: 100%;
}

header nav ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    margin: 0px;
}

header nav ul li {
    padding: 8px;
    font-weight: 15px;
    border-radius: 5px;
}

header nav ul li:hover {
    background-color: blueviolet;
    cursor: pointer;
    
}

button span {
    color: blue;
}

footer{
    background-color: #030303;
}

li img {
    width: 50px;
}

.img-project{
    width: 100%;
}

.tarjeta {
    background-color: white;
    border: 1px solid rgba(102, 95, 95, 0.589);
    border-radius: 10px;
    width: 70%;
    box-shadow: 0px 0px 3px grey;
    height: 600px;
    margin: 50px;
    padding: 20px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.tarjeta h2 {
    margin: 10px;
}

main {
    margin-top: 100px;
}

footer {
    margin-top: 200px;
}

footer ul li:hover {
    transform: scale(1.05);
    cursor: pointer;
}